@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/static/fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/Roboto-Light.ttf');
}

body {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 10% 0 10%;
}

#map {
  height: 50em;
}