@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/static/fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/Roboto-Light.ttf');
}

body {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 10% 0 10%;
}

h1 {
  font-weight: 100;
  font-size: 2em;
  text-align: center;
}

h1 em {
  font-weight: 900;
  font-style: normal;
}

div.container a {
  text-decoration: none;
  color: #000;
}

div.container h1 {
  font-weight: 100;
  font-size: 1.8em;
  text-align: left;
}

div.container h1 em {
  font-weight: 900;
  font-style: normal;
}

input[type="text"].h1 {
  font-weight: 900;
  font-size: 1.8em;
  font-style: normal;
}

div.container {
  position: relative;
  background-color: #eee;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0em;
}

div.buttons {
  position: absolute;
  top: 0;
  right: 0;
}

div.sight h1 {
  font-weight: 900;
  font-size: 1.7em;
  text-align: left;
  margin-top: 0;
}

div.sight p {
  font-weight: 400;
  font-size: 1.2em;
}

div.buttons a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  background-color: #fff;
  border-radius: .5em;
  padding: .5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  margin: 0.5em 0.5em 0em 0em;
  border: 0;
  appearance: none;
  box-sizing: content-box;
  padding-block: .5em;
  padding-inline: .5em;
}

.button img {
  height: 1.5em;
}

#map {
  height: 50em;
}

.fields {
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(30px, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}

.fields #title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.fields #description {
  grid-column-start: 1;
  grid-column-end: 3;
}

.fields .map {
  height: 50em;
  grid-column-start: 1;
  grid-column-end: 3;
}