<div id="error-message" class="container">
  Error message: {{message}}
  <div class="buttons">
    <div class="button" hx-on:click="htmx.remove(htmx.find('#error-message'))">
      <img src="/static/icons/close_FILL0_wght400_GRAD0_opsz24.svg" />
    </div>
  </div>
</div>