<head>
  <title>SightList</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/htmx.min.js"></script>
  <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
  <script src="/static/leaflet/leaflet.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>